<!doctype html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body class="container-fluid">
    <div
      role="main"
      class="d-flex justify-content-center align-items-center"
      style="min-height: 100vh"
    >
      <% if (screenSize === 'large' || screenSize === 'medium') { %> <%-
      include("partials/desktop.ejs") %> <% } else {%> <%-
      include("partials/mobile.ejs") %> <% } %>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
