<!doctype html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body class="container-fluid">
    <div
      role="main"
      class="d-flex justify-content-center align-items-center"
      style="min-height: 100vh"
    >
      <div class="card insights-box">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">
                Get insights that help your business grow.
              </h5>
              <p class="card-text">
                Discover the benefits of data analytics and make better
                decisions regarding revenue, customer experience, and overall
                efficiency.
              </p>
              <p>10k+ companies</p>
              <p>314 templates</p>
              <p>12m+ queries</p>
            </div>
          </div>
          <div class="col-md-6">
            <img
              src="/images/image-header-desktop.jpg"
              class="img-fluid rounded-end"
              alt="people smiling"
            />
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
