/* media */
@media only screen and (max-width: 375px) {
  .card {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

/* tags */
body {
  background-color: hsl(233, 47%, 7%);
  color: white !important;
  font-family: "Inter", sans-serif;
}

h2 {
  font-weight: 700;
}

img {
  outline: 100vmax solid hsla(277, 64%, 30%, 0.6);
  outline-offset: -100vmax;
  -webkit-mask: linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0);
}

/* classes */

.card {
  border: none !important;
  background-color: hsl(244, 38%, 16%);
  color: white;
}

.insights-box {
  max-width: 74rem;
}

.insights-desc {
  font-weight: 100;
  font-size: 14px;
}

.numbers {
  font-size: 20px;
  font-weight: 700;
  margin-top: 4rem;
}
